@charset "utf-8";
/* Unique CSS definitions for the SPEAKERS SECTION. Only classes and IDs!  */

.SpeakerRow {
	max-width: 1250px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#MiddleSpeakerElement{
	margin-left: 40px; margin-right: 40px;
}
@media (max-width:580px) {
	.SpeakerRow {
		flex-wrap: wrap;
		justify-content: center;
	}
	.SpeakerElement {
		margin-bottom: 50px;
	}
	#MiddleSpeakerElement {
		margin-left: 0; margin-right: 0;
	}
	#LastSpeakerElement {
		margin-bottom: 0;
	}
}
#Speakers {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin: 0 auto;
}
#SpeakersButton {
	max-width: 320px;
}
